@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
        top: 80vh;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    padding: 0 70px;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;

}

.header {
    background: #213B7E;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: calc(50% - 1268px/2);
    padding-right: calc(50% - 1268px/2);
}

.menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}

.button {
    width: 153px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EA5D21;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: orangered;
    font-size: 20px;
    transition: 0.3px;
}


.menu__link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 28px 18px;
    display: block;
}

.menu__link:hover {
    color: crimson;
}


.menu__link_active {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}

.content {
    max-width: 941px;
    flex-grow: 1;
    position: relative;
    padding-left: calc(50% - 911px/2);
    padding-right: calc(50% - 911px/2);
}

.content__info {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-top: 33px;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.photo {
    width: 100%;
}

.content__section {
    width: 634px;
}

.subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.about__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.span {
    color: #CF5510;
}

.rotation {
    position: relative;
}

.heading {
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    position: relative;
    top: 40px;
    color: #646464;
    animation: rotation 2s linear 1s 1;
}

.heading:hover {
    --webkit-transform: rotateZ(20deg);
    --ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
}

.quotation {
    font-size: 64px;
}

.quotation_first {
    position: absolute;
    left: -30px;
    top: -9px;
}

.quotation_last {
    position: absolute;
    top: 36px;
}

.block {
    position: absolute;
    width: 500px;
    height: 418px;
    background-color: #FFFFFF;
    border: 1px solid #213B7E;
    margin-left: 470px;
    margin-top: 160px;
    box-sizing: border-box;
}

.footer {
    padding-top: 18px;
    padding-bottom: 19px;
    background: #213B7E;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding-left: calc(50% - 1300px/2);
    padding-right: calc(50% - 1300px/2);
}

.footer_part {
    color: rgba(255, 255, 255, 0.5);
}

/* Students */

.content-students {
    flex-grow: 1;
    padding-left: calc(50% - 1202px/2);
    padding-right: calc(50% - 1202px/2)
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    align-items: center;
    color: #000000;
    margin-top: 37px;
}

.students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    position: relative;
}

.student {
    width: 200px;
    position: relative;
    cursor: pointer;
}

.line1 {
    animation: slide 0.3s linear 0s 1;
}

.line2 {
    animation: slide 0.3s linear 0.3s 1;
}

.line3 {
    animation: slide 0.3s linear 0.6s 1;
}

.line4 {
    animation: slide 0.3s linear 0.9s 1;
}

.line5 {
    animation: slide 0.3s linear 1.2s 1;
}

.box {
    box-shadow: 3px 3px;
}

.box:active {
    box-shadow: 0 0;
    position: relative;
    top: 3px;
    transition: all 0.3px;
}


.student__new {
    position: absolute;
    top: -12px;
    right: -13px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    padding: 1px 2px 1px 5px;
    text-transform: uppercase;
}

.student__name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-top: 8px;
}

.student__name_my {
    text-decoration: none;
}

.student__name:hover {
    color: blue;
    --webkit-transform: scale(1.05);
    --ms-transform: scale(1.05);
    transform: scale(1.05);
}

.student__name_my:hover {
    color: blue;
}



/* Сontacts */

.content-contacts {
    flex-grow: 1;
}

.contact {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-left: 286px;
    padding-top: 33px;
    padding-bottom: 25px;
}

.location {
    max-width: 2560px;
    margin: 0 auto;
    padding-left: calc(50% - 1268px / 2);
    padding-right: calc(50% - 1268px / 2);

}

.address {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
    padding-left: 288px;
}

.phone {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    padding-left: 288px;
    padding-top: 40px;
}

.phone_number {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    line-height: 4.0;
}



/* About */

.content-about {
    flex-grow: 1;
}

.course {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    color: #000000;
    padding-left: 286px;
    padding-top: 33px;
}

.about_us {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    color: #000000;
    padding-left: 286px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.vide__about_us {
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #EA5D21;
    margin: 0 auto;
    max-width: 820px;
    display: block;
}



/* Modal */

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal_visible {
    display: flex;
}

.modal__form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #213B7E;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 418px;
    align-items: center;
    position: relative;
    ;
}

.modal__input {
    margin-bottom: 56px;
    padding: 14px;
    box-sizing: border-box;
    width: 444px;
    height: 55px;
    left: 498px;
    top: 250px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;

}

.modal__title {
    margin-bottom: 36px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #000000;
}

.close-button {
    background-image: url(./img/cross-svgrepo-com.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 50px;
    height: 40px;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}



/* My */

.body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: calc(50% - 1300px/2);
    padding-right: calc(50% - 1300px/2);
}

.personal {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.surname {
    display: flex;
    align-items: center;
}

.logo2:hover {
    width: 37px;
    height: 37px;
    transition: 0.3px;
}

.hands {
    max-width: 60px;
    max-height: 60px;
    padding-left: 30px;
    padding-right: 10px;
}

.several {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.several_list {
    margin-right: 15px;
}

.section {
    display: flex;
}

.face {
    position: absolute;
    width: 389px;
    height: 389px;
    left: 719px;
    top: 92px;
    border: 5px solid white;
    border-radius: 30%;
    object-fit: cover;
}

.freelancer {
    position: absolute;
    top: 116px;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
}

.names {
    position: absolute;
    width: 306px;
    top: 160px;
    font-family: 'Roboto';
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
}

.functions {
    position: absolute;
    width: 420px;
    top: 286px;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
}

.submit {
    position: absolute;
    top: 380px;
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px 5px 10px 10px;
    padding: 25px 40px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: navy;
    text-decoration: none;
    margin-top: 17px;
}

.submit:hover {
    font-size: 14.2px;
    transition: 0.3px;
    cursor: pointer;
}

.reasons {
    padding-top: 500px;
}

.work {
    margin: 0;
    font-size: 36px;
    color: #FFFFFF;
}

.cards {
    padding: 0;
    list-style: none;
    margin-top: 65px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 64px;
    gap: 64px 52px;
}

.card_picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.card_title {
    margin: 20px 0 0;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}



/* Сonsultation */

.consultation__window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.consultation_visible {
    display: flex;
}

.consultation__form {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #213B7E;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 430px;
    align-items: center;
    position: relative;
}

.consultation__title {
    margin-bottom: 36px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: #000000;
}

.consultation__input {
    margin-bottom: 56px;
    padding: 14px;
    box-sizing: border-box;
    width: 270px;
    height: 55px;
    left: 498px;
    top: 250px;
    background: #FFFFFF;
    border: 1px solid #808080;
    border-radius: 5px;
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    color: #808080;
}





@media (max-width: 2560px) {
    .contact {
        text-align: center;
        padding-left: 0;
    }

    .course {
        text-align: center;
        padding-left: 0;
    }

    .contacts {
        padding-left: 400px;
    }

    .phone {
        padding-top: 20px;
        position: unset;
    }

    .about_us {
        text-align: center;
        padding-left: 0;
    }
}

@media (max-width: 1440px) {
    .name {
        font-size: 26px;
    }

    .location {
        width: 100%;
    }
}

@media (max-width: 1320px) {
    .contacts {
        padding-left: 0;
    }

    .face {
        left: 650px;
    }
}

@media (max-width: 1024px) {
    .title {
        padding: 10px;
    }

    .vide__about_us {
        padding-right: 80px;
        left: 140px;
        height: 1050px;
        border: 0;
    }

    .students {
        justify-content: center;
    }

    .face {
        left: 370px;
    }

    .functions {
        width: 300px;
    }
}

@media (max-width: 990px) {
    .content__info {
        flex-direction: column;
    }

    .heading {
        padding-left: 30px;
        top: 0;
    }

    .quotation_first {
        padding-left: 30px;
    }

    .personal {
        padding: 10px;
    }
}

@media (max-width: 920px) {
    .address {
        padding-left: 0;
    }

    .phone {
        padding-left: 0;
    }
}

@media (max-width: 800px) {
    .modal__input {
        width: 100%;
    }

    .modal__form {
        width: 55%;
    }

    .face {
        left: 350px;
    }
}

@media (max-width: 768px) {

    /* Стили для мобилки */
    .header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .heading {
        top: 0;
    }

    .vide__about_us {
        position: inherit;
        box-sizing: content-box;
    }

    .content {
        padding: 10px;
    }

    .content__info {
        justify-content: flex-start;
    }

    .content__section {
        width: 550px;
    }

    .contact {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contacts {
        text-align: unset;
        padding-left: 0;
    }

    .face {
        top: 370px;
        left: 180px;
    }

    .names {
        width: auto;
    }

    .functions {
        width: auto;
        top: 226px;
    }

    .submit {
        top: 280px;
    }

    .reasons {
        padding-top: 720px;
    }
}

@media (max-width: 670px) {
    .content__section {
        max-width: 320px;
    }

    .menu {
        display: revert;
        margin-left: 0;
    }

    .heading {
        font-size: 25px;
    }

    .face {
        left: 130px;
    }

    .consultation__form {
        width: 45%;
    }

    .consultation__input {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .face {
        left: 0;
        top: 380px;
    }

    .names {
        top: 150px;
    }

    .functions {
        top: 206px;
    }

    .cards {
        max-width: 320px;
        display: block;
    }
}

@media (max-width: 470px) {
    body {
        padding: 0 10px;
    }

    .content__section {
        max-width: 320px;
    }

    .phone {
        position: unset;
    }
}

@media (max-width: 389px) {
    .face {
        object-fit: cover;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 343px) {

    .face {
        top: 470px;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    .reasons {
        padding-top: 850px;
    }

    .functions {
        top: 270px;
    }

    .submit {
        top: 370px;
    }
}

@media (max-width: 320px) {
    .header {
        padding-right: 16px;
        padding-left: 0;
        flex-wrap: nowrap;
        max-width: 250px;
    }

    .menu {
        flex-direction: column;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .logo {
        display: none;
    }

    .menu__link {
        font-size: 20px;
        padding: 14px 9px;
    }

    .content {
        margin: 0;
    }

    .content__info {
        display: flow-root;
    }

    .content__section {
        max-width: 320px;
    }

    .heading {
        left: 80px;
        top: 0;
    }

    .course {
        padding-left: 10px;
    }

    .about_us {
        padding-left: 10px;
    }

    .contact {
        display: none;
    }

    .address {
        padding-left: 10px;
    }

    .phone {
        padding-left: 10px;
    }

    .hands {
        display: none;
    }

    .several {
        display: block;
    }
}